* {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 30px;
    font-weight: 900;
}
header img {
    vertical-align: middle;
}

.conteiner {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: auto;
}

.conteiner-button {
    background-color: #ffffff;
    padding: 10px 40px;
    margin-bottom: 2px;
}

button {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 5px;
}

.selected {
    background-color: #47adf1;
    border: 2px solid #47adf1;
    color: #ffffff;
}
.unselected {
    background-color: #ffffff;
    border: 2px solid #c5cbd0;
    color: #c5cbd0;
    box-sizing: border-box;
}

.conteiner-article { 
    background-color: #ffffff;
    padding: 40px;
}

ul {
    padding-bottom: 25px;
    padding-left: 0;
}

li {    
    list-style-type: none;
    line-height: 35px;
    font-size: 15px;
}

.formattazione-list {   
    font-size: 14px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    display:inline-block;
    margin-right: 5px;
}

.check {
    color: green;
    border: 1px solid green;
}

.cross {
    color: red;
    border: 1px solid red;
}

.bollino {
    color: #ffffff;
    font-size: 11px;
    display: inline;
    border-radius: 13px;
    padding: 5px 10px;
    margin-left: 15px;
}

.editorial {
    background-color: #47adf1;
}

.q1 {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}