* {
    margin: 0;
}


html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 30px;
    line-height: 50px;
    font-weight: 900;
    font-size: 40px;
}