* {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 30px;
}

header img {
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:visited {
    color: #051931;
}

.conteiner {
    width: 60%;
    padding-top: 50px;
    margin: auto;
}

.conteiner-button {
    background-color: #ffffff;
    padding: 10px 40px;
    margin-bottom: 2px;
    border-radius: 10px 10px 0 0;
}

button {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 5px;
}

.selected {
    background-color: #47adf1;
    border: 2px solid #47adf1;
    color: #ffffff;
}

.selected:hover {
    background-color: #26a1f3;
    border: 2px solid #26a1f3;
}

.selected:active {
    background-color: #0b97f5;
    border: 2px solid #0b97f5;
}

.unselected {
    background-color: #ffffff;
    border: 2px solid #c5cbd0;
    color: #c5cbd0;
}

.unselected:hover {
    background-color: #e0e0e0;
    border: 2px solid #e0e0e0;
    color: #aaaaaa;
}

.unselected:active {
    background-color: #bbbbbb;
    border: 2px solid #bbbbbb;
    color: #8f8f8f;
}

.conteiner-article { 
    background-color: #ffffff;
    padding: 40px 40px 20px 40px;
    border-radius: 0 0 10px 10px;
}

h3 {
    line-height: 1;
}

h3 span {
    font-size: 23px;
    vertical-align: middle;
}

ul {
    padding-bottom: 25px;
    padding-left: 0;
}

li {    
    list-style-type: none;
    line-height: 35px;
    font-size: 15px;
}

.formattazione-list {   
    font-size: 14px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    display:inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.check {
    color: #01ce1e;
    border: 1px solid #01ce1e;
}

.cross {
    color: #eb3a33;
    border: 1px solid #eb3a33;
}

.bollino {
    color: #ffffff;
    font-size: 11px;
    display: inline;
    border-radius: 13px;
    padding: 5px 10px;
    margin-left: 15px;
}

.editorial {
    background-color: #47adf1;
}

.editorial:hover {
    background-color: #1a97eb;
}

.q1 {
    background-color: #9c72e4;
}

.q1:hover {
    background-color: #8850e9;
}

.recruiting {
    background-color: #64c0a9;
}

.recruiting:hover {
    background-color: #35b897;
}

.mobile {
    background-color: #f29e33;
}

.mobile:hover {
    background-color: #e28a17;
}

.web {
    background-color: #d863a1;
}

.web:hover {
    background-color: #d33589;
}

.sales {
    background-color: #b0c926;
}

.sales:hover {
    background-color: #98af14;
}